{% extends 'base.html.twig' %}

{% block title %}Fiche catégorie{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Fiche Catégorie</h1>

<div class="row">


        <div class="card mb-3 container">
            <h4 class="card-header"> {{ laCategorie.libelle }} </h4>
            <div class="row">
                <div class="col-2">
                    <img class="avatar mx-auto my-3 " style="height: auto; max-width: 200px; display: block;" src="{{ asset(laCategorie.image) }}" alt="Card image">    
                </div>
                <div class="col d-flex-align-items-center">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ laCategorie.description }}</li>
                                
                            
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>    
    </div>
        <a href=" {{path('app_categories')}} " class="btn btn-success btn-block text-center">Revenir la liste</a>
</div>
{% endblock %}  

